<!DOCTYPE html>

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'recipes/base_style.css' %}">

<html>

    <head>
        <title>RecipeShelf</title>
    </head>

    <body>
    
        <div class = "topnav">
            <h1 id="title">RecipeShelf</h1>
            {% if request.user.is_authenticated %}
                <a href = "{% url 'recipes:index' %}">Index</a>
                <a href = "{% url 'recipes:create_recipe' %}">Create Recipe</a>
                <a href = "{% url 'recipes:logout' %}">Logout</a>
                <p id = "welcomemsg">Welcome, {{ request.user }}</p>
            {% else %}
                <a href = "{% url 'recipes:signup' %}">Sign Up</a>
                <a href = "{% url 'recipes:login' %}">Login</a>
            {% endif %}
        </div>
        
        
    {% block content %}
    
    {% endblock content %}
    </body>
</html>