{% extends 'recipes/base.html' %}

{% block content %}
<!-- Load static must come after block content.-->
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'recipes/create_recipe_style.css' %}">


    <form action="." method="post">
        {% csrf_token %}

        <h1>Recipe Information</h1>

        {% if error_message %} 
        <strong>{{ error_message }}</strong>
        {% endif %}
        <div id="recipeinfo">
            {{ form.as_p }}
        </div>

        <hr>

        <h2>Ingredients</h2>

        {{ iformset.management_form }}
        <div id=ingredientform>
            {% for i_form in iformset %}
            <div class = ingredientinfo>
                {{ i_form.as_p }}
            </div>
        {% endfor %}
        </div>

        <input type="button" value="Add More" id="add_more_ingredients">

        <script>
            let ingFormCount = {{ iformset.total_form_count }}
            let emptyIngForm = '{{ iformset.empty_form.as_p|escapejs }}'
        </script>

        <script src="{% static 'recipes/add_more_ingredients.js' %}"></script>

        <hr>
        
        <h2>Method</h2>

        {{ mformset.management_form }}
        <div id=methodform>
            {% for m_form in mformset %}
            <div class=methodinfo>
                Step {{ forloop.counter }}. {{ m_form.as_p }} 
            </div>
        {% endfor %}
        </div>


        <input type="button" value="Add More" id="add_more_methods">

        <script>
            let methFormCount = {{ mformset.total_form_count }}
            let emptyMethForm = '{{ mformset.empty_form.as_p|escapejs }}'
        </script>

        <script src="{% static 'recipes/add_more_methods.js' %}"></script>

        <input type="submit" value="Submit">
    </form>
{% endblock content %}

<!--The form action should go to the same view that serves the form - as a 
post request. View will process and then you are sent to thank you page.-->