{% extends 'recipes/base.html' %}
{% load recipes_extras %}

{% block content %}
<h1><a href = "{% url 'recipes:index' %}">Back to Index</a></h1>
<h1><a href = "{% url 'recipes:edit_recipe' recipe.id %}">Edit Recipe</a></h1>
<h1>{{ recipe.recipe_name }}</h1>
<h2>Recipe Source: {{ recipe.source }}</h2>
<!--Using custom template tags to call the duration function.-->
<h2>Prep Time: {{ recipe.prep_time|duration }}</h2>
<h2>Cooking Time: {{ recipe.cooking_time|duration }}</h2>
<h2>Servings: {{ recipe.servings }}</h2>
<h2>Ingredients:</h2>
{% if ingredients %}
    {% for ingredient in ingredients %}
    <li>{{ ingredient }} ({{ingredient.quantity}})</li>
    {% endfor %}
{% else %} 
There are currently no ingredients for this recipe.
{% endif %}
<h2>Method:</h2>
{% if methods %}
    {% for method in methods %}
    <!-- <pre> tells Django that the list should be perforated in new lines.-->
    <pre><strong>Step {{forloop.counter}}.</strong> {{ method }}</pre>
    {% endfor %}
{% else %} 
There is currently no method for this recipe.
{% endif %}
{% endblock content %}

