{% extends 'recipes/base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'recipes/login_style.css' %}">

{% if error_message %} 
{{ error_message }}
{% endif %}

<div class="centereverything">
        <div class="logincontainer">
            <div class="formcontainer">
                <div class="forms">
                    <form method="post">
                        {% csrf_token %}
                        <div class="username"> 
                            {{ form.username }}
                        </div>
                        <div class="password">
                            {{ form.password }}
                        </div>
                        <button type="submit">Login</button>
                    </form>
                </div>
            </div>
        </div>


    <div class="logocontainer">
        <div class="logo">RecipeShelf</div>
    </div>
</div>



{% endblock %}

