{% extends 'recipes/base.html' %}

{% block content %}

{% load recipes_extras %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'recipes/recipe_index_style.css' %}">

<h2>My Recipes</h2>
{% if recipes %}
<div class=outercontainer>
    {% for recipe in recipes %}
        <!-- recipe.id gives the url the recipe id to send to urls.py !-->
        <!-- Javascript used, cursor:pointer indicates a link.-->
        <div class=recipebox onclick='location.href="{% url 'recipes:display_recipe' recipe.id %}";' style="cursor:pointer;">
            <p id=recipename>{{recipe.recipe_name}}</p>
            <p id=recipesource>Source: {{recipe.source}}</p>
            <p class=recipetimings>Prep: {{ recipe.prep_time | duration }}</p>
            <p class=recipetimings>Cook: {{ recipe.cooking_time | duration }}</p>
        </div>
    {% endfor %}
</div>
{% else %}
    <p>No recipes currently available. Please create some!</p>
{% endif %}

{% endblock content %}