/* Navigation bar */
.topnav {
    background-color: teal;
    overflow: hidden;
    padding: 0px;
    margin: 0;
}

/* Navigation bar link appearance */
.topnav a {
    float:left;
    color: white;
    text-align: center;
    padding: 20px 14px;
    font-size: 25px;
    text-decoration: none;
}

#signup {
    float:right;
    color: white;
    text-align: center;
    padding: 20px 14px;
    font-size: 25px;
    text-decoration: none;
}

#login {
    float:right;
    color: white;
    text-align: center;
    padding: 20px 14px;
    font-size: 25px;
    text-decoration: none;
}

.container {
    display:flex;
    align-items: center;
}

.topnav a:hover {
    background-color: turquoise;
}

/* Removing padding from left hand side. */
body {
    margin: 0
}