body {
    background-color: lightgrey;
}

input[type="text"] textarea {
    background-color: gray;
}

#recipeinfo {
    border-radius: 25px;
    border: 2px solid lightblue;
    padding: 20px;
    width: 300px;
    height: 125px;
}

#methodinfo {
    border-radius: 25px;
    border: 2px solid lightblue;
    padding: 20px;
    width: 300px;
    height: 525px;
}

.ingredientinfo p {
    display: block;
}

.ingredientinfo {
    padding-bottom: 10px;
}

.ingredientinfo > p > label {
    display: inline-block;
    width: 120px;
}