body {
    background-color: lightgrey;
}

input[type="text"], select {
    background-color: white;
    width: 50%;
}

#recipeinfo p {
    display: block;
}

#recipeinfo > p > label {
    display: inline-block;
    width: 120px;
    font-family: helvetica;
}

h1 {
    font-family: helvetica;
    font-size: 50px;
    text-align: center;
}

#methodinfo {
    padding-left: 5px;
}

.ingredientinfo p {
    display: block;
}

.ingredientinfo {
    padding-bottom: 10px;
}

.ingredientinfo > p > label {
    display: inline-block;
    width: 120px;
}