body {
    background-color: lightgrey;
}

.recipecard {
    border-style: solid;
    border-color: teal;
    border-radius: 3px;
    background-color: teal;
    width: 550px;
    margin-top: 10px

}

.recipeheader {
    width: 550px;
    border-top: solid 3px white;
    border-bottom: solid 3px white;
}

.recipeheader h1 {
    font-family: helvetica;
    font-size: 30px;
    color: white;
    margin: 0px
}

.recipeheader h2 {
    font-family: helvetica;
    margin: 0;
    color: white;
    font-size: 20px;
}

