/* When screen is above 1707px */
@media screen and (min-width: 1708px) {
    
    .logincontainer {
        display: flex;
        position: fixed;
        left: 1000px;
        top: 225px;
        height: 450px;
        width: 700px;
        border: solid;
        border-width: 4px;
        border-radius: 7px;
        border-color: teal;
        background-color: teal;
    }

    .logocontainer {
        display: flex;
        position: fixed;
        left: 250px;
        padding-top: 350px;
    }
}

/* When screen is below 1708px*/
@media screen and (max-width: 1708px) {
    
    .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
        height: 800px;
        width: 1000px;
        margin: auto;
        flex-wrap: wrap;
    }

    .logincontainer {
        top: 225px;
        height: 450px;
        width: 700px;
        border: solid;
        border-width: 4px;
        border-radius: 7px;
        border-color: teal;
        background-color: teal;
        align-items: center;
    }

    .formcontainer {
        padding-top: 125px;
    }
    
}

.logo {
    font-size: 130px;
    font-family: Foodpacker;
    color: teal;
}

.formcontainer {
    display: flex;
    justify-content: center;
    margin:auto;
}

body {
    background-color: lightgrey;
}

.topnav {
    display: none;
}

input[type=text] {
    display: inline-block;
    width: 300px;
    height: 40px;
    border-width: 1px;
    border-color: white;
    border-radius: 3px;
    font-size: 25px;
}

input[type=password] {
    display: inline-block;
    width: 300px;
    height: 40px;
    border-width: 1px;
    border-color: white;
    border-radius: 3px;
    font-size: 25px;
}

/* Removes highlighted border on click */
input[type=text]:focus {
    outline-width: 0;
}

input[type=password]:focus {
    outline-width: 0;
}

input[type=text]::placeholder {
    font-size: 25px;
    padding-left: 5px;
    margin-top: 10px;
}

input[type=password]::placeholder {
    font-size: 25px;
    padding-left: 5px;
}

.username {
    padding-bottom: 5px;
}

.password {
    padding-bottom:10px;
}

button {
    min-width: 306px;
    display: inline-block;
    font-family: Helvetica;
    position: relative;
    font-size: 25px;
    height: 45px;
    text-decoration: none;
    background: teal;
    color: white;
    border: 2px solid;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    z-index: 0;
    color: white;
    overflow: hidden;
    padding-right: 5px;
}

button:hover {
    color: teal;
}

button:hover:after {
    width: 100%;
}

button:after {
    content:"";
    position:absolute;
    z-index: -1;
    transition: all 0.3s ease;
    left: 0;
    top: 0;
    width: 0;
    height:100%;
    background: white;
}

