.outercontainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 450px;
    padding: 10px;
}

.recipebox {
    border-style: solid;
    border-color: black;
    border-radius: 5px;
    background-color: white;
    border-width: 1px;
    width: 400px;
    margin: 10px;
    text-align: center;
}

.recipebox:hover {
    box-shadow: 5px 10px teal;
    transform: scale(1.05);
}

#recipename {
    font-size: 35px;
    font-family: helvetica;
}



#recipesource {
    font-size: 20px;
    font-family: helvetica;
}

h2 { 
    color: black;
    font-family: helvetica;
    font-size: 30px;
}

body {
    background-color: lightgrey;
}