.outercontainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    height: 450px;
    padding: 10px;
}

.recipebox {
    flex: 0 0 21%;
    border-style: solid;
    border-color: black;
    border-radius: 5px;
    background-color: #F9FBFF;
    border-width: 1px;
    height: 450px;
    margin: 10px;
    text-align: center;
}

.recipebox:hover {
    box-shadow: 5px 5px teal;
    transform: scale(1.03);
}

#recipename {
    font-size: 35px;
    font-family: helvetica;
}

#recipesource {
    font-size: 20px;
    font-family: helvetica;
}

.recipetimings {
    font-size: 20px;
    font-family: helvetica;
}

h2 { 
    font-family: Foodpacker;
    color: black;
    text-align: center;
    font-size: 60px;
}

body {
    background-color: lightgrey;
}